:root {
    color-scheme: dark light;
    --light: #fff;
    --dark: #202124;
}

body {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240, 240, 240);
    max-width: 1024px;
}

.hero {
    margin-top: 50px;
}

.button {
    padding: 8px 35px 8px 35px;
}

.light {
    background-color: #999;
}

.main {
    background-color: #0066CC;
}

.fine {
    font-size: 0.75em;
    line-height: 1.2em;
}
